@each $color, $color_value in $palette {
    .background-#{$color} {
        background-color: $color_value;
    }
}


.resume_item_title{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h3, h4, h5 {
        margin-bottom: 0;
    }
}

.resume_title_left{
    display:flex; 
    flex-direction: column; 
    align-items: flex-start;
    margin-right: 1em;
}

.resume_title_right{
    display:flex; 
    flex-direction: column; 
    align-items: flex-end;
    margin-left: 1em;
}

.resume_item_description{
    padding-bottom: 1em
    
}